@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Kugile Regular';
    src: url(../fonts/Kugile_Demo.ttf);
}

.livvic-regular {
    font-family: "Livvic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.livvic-regular {
    font-family: "Livvic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.livvic-medium {
    font-family: "Livvic", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.livvic-semibold {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.livvic-bold {
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.philosopher-regular {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.philosopher-bold {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-style: normal;
}