.main-menu {
	display:block;
	position:relative;
	margin: 0 30px 0 auto;
	}
  .main-menu:before, .main-menu:after{
	display: table;
	line-height: 0;
	content: "";
  }
  .core-menu {
	text-align:center;
	overflow:hidden;
  }
  .core-menu li {
	list-style:none;
	display:inline-block;
  }
  .core-menu li a {
	display:inline-block;
	padding: 10px;
	cursor: pointer;
	}
  .core-menu li a:hover {
	background:var(--primaryGolden);
  }
  li span.toggle {
	padding-left: 5px;
	}
  .toggle:before {
	content:"\f107";
	font:normal normal normal 16px/1 FontAwesome;
  }
  .dropdown {
	position:absolute;
	width:230px;
	background:var(--lightYellow);
	text-align:left;
	display:none;
  }
  .dropdown li {
	display:block;
	}
  .dropdown li a {
	display:block;
  }
  .dropdown2 {
	position:absolute;
	width:230px;
	background:var(--lightYellow);
	text-align:left;
	display:none;
	right:-100%;
	top:0;
  }
  .dropdown2 li {
	display:block;
	}
  .dropdown2 li a {
	display:block;
  }
  li span.toggle2 {
	position:absolute;
	right:0;
	margin-right:20px;
  }
  .toggle2:before {
	content:"\f105";
	font:normal normal normal 16px/1 FontAwesome;
  }
  .hamburger-menu {
	padding:1em;
	display:none;
	text-transform:uppercase;
  }
  
  @media (max-width:980px) {
	.main-menu {
	  height:50px;
	}
	.container-menu {
	  width:100%;
	}
	.navigation {
	  float:left;
	  display:block;
	  width:100%;
	}
	.core-menu {
	  width: 200px;
	  background:#1a1a1a;
	  display:none;
	  position: absolute;
	  right: 30px;
	  top: 40px;
	  text-align: left;
	  color: #fff;
	}
	
	.core-menu li {
	  width:100%;
	  display:block;
	}
	.core-menu li a{
	  display:block;
	  margin:auto;
	  text-align: left;
	}
	.hamburger-menu {
	  display:block;
	  text-align:center;
	  padding-right:60px;
	  float:none;
	  width:100%;
	}
	.burger-1, .burger-2, .burger-3 {
	display:block;
	position:absolute;
	width:20px;
	height:3px;
	border-radius:30px;
	right:0;
	margin-right:25px;
	background: #000;
	-webkit-transition:.2s ease;
	-ms-transition:.2s ease;
	-moz-transition:.2s ease;
	-o-transition:.2s ease;
	transition:.2s ease;
	}
	.burger-1 {
	top:15px;
	}
	.burger-2 {
	top:23px;
	}
	.burger-3 {
	top:31px;
	}
	.burger-1.open, .burger-2.open, .burger-3.open {
	-webkit-transition:.2s ease;
	-ms-transition:.2s ease;
	-moz-transition:.2s ease;
	-o-transition:.2s ease;
	  transition:.2s ease;
	  transform-origin:50% 50%;
	}
	.burger-1.open {
	  top:25px;
	  width:23px;
	  transform:rotate(45deg);
	  -webkit-transform:rotate(45deg); 
	  -ms-transform:rotate(45deg); 
	  -moz-transform:rotate(45deg); 
	  -o-transform:rotate(45deg); 
	}
	.burger-2.open {
	  opacity:0;
	}
	.burger-3.open {
	  top:25px;
	  width:23px;
	  transform:rotate(-45deg);
	}
	.dropdown {
	  width:100%;
	  background:#0e0e0e;
	  text-align:center;
	  position:relative;
	  padding: 0 0 0 20px;
	}
	.dropdown2 {
	  right:0;
	  top:0;
	  width:100%;
	  position:relative;
	  padding:0 20px;
  }
}